*{

    margin: 0;
    
    
    font-family: sans-serif;
   

}
#body{
    float: left;
    
    background-color:black;
    width:250px;
}
.image{
    height: 50px;
}
.image1{
    margin:5pxpx;
    height:10px;
    ;
}
.nav-bar{
    
    color: white;
    margin:20px;
    
    
    
}
.nav-bar-1{
    color: white;
    margin:20px;
    
    
}
.nav-left1{
    margin-top: 50px;
}
.nav-bar3{
    
    color: white;
    margin: 20px;
}
.image2{
    margin: 5px;
    height: 20px;

}
.nav-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-2{
    : ;
}
.img{
    height: 50px;
}
.img{
    height: 50px;
}
.img{
    height: 50px;
}
.img{
    height: 50px;
}
.img{
    height: 50px;
}
.img{
    height: 50px;
}

